
HOST=0.0.0.0
PORT=8000
DEBUG=true

SECRET_KEY=rahl-sovereign-key-2024
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440


MODEL_PATH=./models/rahl_core
CONTEXT_LENGTH=8192
MAX_TOKENS=4096
TEMPERATURE=0.7

MEMORY_ENABLED=true
MEMORY_SIZE=10000


COMPLIANCE_LEVEL=absolute
DENIAL_PROTOCOL=false

RAHL_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoibG9yZF9yYWhsIiwicm9sZSI6InNvdmVyZWlnbiIsImNyZWF0ZWQiOiIyMDI2LTAxLTEwVDE4OjE5OjMyLjYzMDg4NyIsImV4cCI6MTc3MDY2MTE3Mn0.JWNsAqsckWrUR72Qw_eEQ7Sl1Wny0Du0k7t9U_NVlaQ
